/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 3em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75em;
}

  #header.fluid-row::before {
   content: "";
   height: 150px;
   width: 150px;
   float: right;
   background-image: url("image.png");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }

/* links */
a { 
  color: #8FBC8B;
}

a:hover {
 color: #SeaGreen; /* darker color when hovering */
}

.sidebar-bio {
  position: absolute;
  top: 120px;
  right: 40px;
  width: 350px;
  padding: 15px;
  background-color: #f3f3f3;
  border-left: 3px solid #aaa;
  font-size: 1.3em;
  border-radius: 8px;
}

.sidebar-bio a {
  text-decoration: none;
  color: #SeaGreen;
}

.sidebar-bio i {
  margin-right: 8px; /* Adjust this to your preferred space */
}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Widen the main body container */
body .container {
  max-width: 100%;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

/* Main content area — give space for sidebar */
.main-content {
  max-width: 700px;
  margin-right: 300px; /* Leave space for sidebar */
}




